include MANIFEST.in
include LICENSE
recursive-include doc *
recursive-include tool *
recursive-include example *
include AUTHORS
include ChangeLog
include INSTALL
include INSTALL.ja
include README
include README.ja
include setup.cfg
include setup.py
recursive-include debian *
