Source: pysilhouette
Section: python
Priority: extra
Maintainer: Kei Funagayama <kei@karesansui-project.info>
Build-Depends: cdbs (>= 0.4.90~), debhelper (>= 7), python-setuptools (>= 0.6b3), python-dev (>= 2.6.6-3~)
X-Python-Version: >= 2.4
Standards-Version: 3.8.0
Homepage: http://pysilhouette.sourceforge.jp/

Package: pysilhouette
Architecture: all
Depends: sqlite3, ${misc:Depends}, ${python:Depends}
Description: A python-based background job manager
 Pysilhouette is a python-based background job manager,
 intended to co-work with various python-based web applications.
 It makes it available to get job status to programmers,
 which was difficult in http-based stateless/interactive session before.
 100% Pure Python.

