#!/usr/bin/make -f

DEB_PYTHON2_MODULE_PACKAGES=pysilhouette

include /usr/share/cdbs/1/rules/debhelper.mk
#include /usr/share/cdbs/1/class/makefile.mk
include /usr/share/cdbs/1/class/python-distutils.mk

# Add here any variable or target overrides you need.

PROJECT=pysilhouette
PROG=silhouette

DEB_PYTHON_INSTALL_ARGS_ALL = --record=INSTALLED_FILES --install-layout=deb

clean::
	rm -rf pysilhouette.egg-info INSTALLED_FILES
	rm -rf build build-stamp configure-stamp build/ MANIFEST
	python setup.py clean
	find . -name '*\.py[co]' -delete

build:

install/pysilhouette::
	install -c -m 644 $(CURDIR)/sample/log.conf.example $(DEB_DESTDIR)etc/$(PROJECT)/log.conf.example
	install -c -m 644 $(CURDIR)/sample/log.conf.example $(DEB_DESTDIR)etc/$(PROJECT)/log.conf
	
	install -c -m 644 $(CURDIR)/sample/$(PROG).conf.example $(DEB_DESTDIR)etc/$(PROJECT)/$(PROG).conf.example
	install -c -m 644 $(CURDIR)/sample/$(PROG).conf.example $(DEB_DESTDIR)etc/$(PROJECT)/$(PROG).conf
	
	install -c -m 644 $(CURDIR)/sample/whitelist.conf.example $(DEB_DESTDIR)etc/$(PROJECT)/whitelist.conf.example
	install -c -m 644 $(CURDIR)/sample/whitelist.conf.example $(DEB_DESTDIR)etc/$(PROJECT)/whitelist.conf
	
	dh_installinit --name=silhouetted
	dh_installinit --name=schedulerd
	dh_installinit --name=performerd
	#dh_link /usr/share/pyshared/$(PROJECT)/$(PROG).py usr/bin/$(PROG).py
	chmod +x $(DEB_DESTDIR)/usr/share/pyshared/$(PROJECT)/$(PROG).py

.PHONY: clean build intall install-pysilhouette
